.btn {
  & {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black,0.3);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active ,
  &:focus  {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black,0.3);
  }

  &--white {
    background: $color-white;
    color: $color-gary-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background: $color-primary-light;
    color: $color-white;

    &::after {
      background-color: $color-primary-light;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.4s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 2px solid $color-primary;
      padding: 3px;
      transition: 0.2s;
      padding : 0.5rem 0.5rem;
    }

    &:hover {
      background-color: $color-primary;
      color: white;
      box-shadow: 0 1rem 1.5rem rgba($color-black, 0.5);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.5);
      transform: translateY(-2px);
    }
  }
