@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

//MEDIA QUERY

@mixin respond($breakpoint) {

  @if $breakpoint == phone { //width < 600
    @media only screen and (max-width: 37.5em) { @content };
  }

  @if $breakpoint == tab-port { //width < 900
    @media only screen and (max-width: 56.25em) { @content };
  }

  @if $breakpoint == tab-land { //width < 1200
    @media only screen and (max-width: 75em) { @content };
  }

  @if $breakpoint == big-dektop {
    @media only screen and (min-width: 112.5em) { @content };
  }

}
